@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&family=Roboto+Mono&display=swap");

:root {
  --black: #333;
  --primary: #4665b7;
  --primary-light: #aebff1;

  /* fonts */
  --sans-serif: "Oswald";
  --serif: "Merriweather";
  --mono: "Roboto Mono";
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 50ch;
  padding: 1rem;
  line-height: 1.5;
  color: var(--black);
  font-size: 25px;
  font-weight: 400;
  font-family: var(--serif), Times, serif;
}

code {
  font-family: var(--mono), monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif), sans-serif;
}

h1 {
  margin: 2.5rem 0 0 0;
  font-size: 3rem;
}

a {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
  text-decoration-color: var(--primary-light);
}

/* nav styles */
nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 7px;
  background-color: #ccc;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10spx 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
  border-bottom: 4px solid transparent;
  margin: 0 1rem;
}

.nav-links a:hover,
a:focus,
.nav-links a.active {
  border-bottom: 4px solid var(--primary);
}

.expanded {
  display: unset;
}

.nav-chance {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    justify-content: center;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/* INSIGHTS */
.post-list {
  list-style: none;
  padding: 0;
  margin: 3rem 0 0 0;
}

.post-item {
  /* display: flex;
  justify-content: space-between; */
  margin: 0 0 4rem 0;
}

.post-item__date {
  margin: 0;
  font-size: 1.6rem;
}

.post-item__title {
  font-size: 2.2rem;
}
