---
import type { MarkdownInstance } from "astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const sortByPubDateDesc = (
  a: MarkdownInstance<Record<string, any>>,
  b: MarkdownInstance<Record<string, any>>
) => {
  return b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate);
};

const formatDate = (zDate: string) =>
  new Date(zDate).toLocaleDateString("en-US", {
    month: "2-digit",
    day: "2-digit",
    year: "numeric",
  });

const allPosts = await Astro.glob("../pages/**/*.md");
const sortedPosts = allPosts.sort(sortByPubDateDesc);
const pageTitle = "Insights";
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="post-list">
    {
      sortedPosts.map((post) => (
        <li class="post-item">
          <p class="post-item__date">{formatDate(post.frontmatter.pubDate)}</p>
          <a href={post.url} class="post-item__title">
            {post.frontmatter.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
