---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Insights";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li>
      <a href="/insights/e2e-api-testing-with-postman/"
        >End-to-end API Testing With Posting</a
      >
    </li>
  </ul>
</BaseLayout>
