---
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a href="https://github.com/chancesmith"
      >GitHub</a
    > or tag along on <a href="https://twitter.com/chance_smith">Twitter</a>.
  </p>
</footer>
